@font-face {
    font-family: 'B612';
    src: url(./fonts/B612-Regular.ttf) format('truetype');
}

* {
    font-family: 'B612' !important;
}

body {
    margin: 0;
}

body,
html,
#root {
    height: 100%;
}